<header id="header">
  <div class="row">
    <div class="large-12 columns" id="header-content">
      <% if content_for? :header %>
        <%= yield :header %>
      <% else %>
        <%= render 'layouts/default_header' %>
      <% end %>
    </div>
  </div>
</header>
